body {
  margin: 0;
  padding: 0;
  display: block;
}
/* for task #3 */
ul {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}
img {
  outline: 1px dotted white;
}
/* for task #6 */
#validation-input {
  border: 3px solid #f44336; /* #bdbdbd; */
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
/* for task #8 */
div {
  display: inline-block;
}
